* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #102400;
    font-family: "Bungee Outline", cursive;
    letter-spacing: 0.5px;
}

#startButton {
    position:absolute;
    font-size: 8vw;
    background-color: transparent;
    color: #00ff00;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, text-shadow 0.2s;
    font-family: "Bungee Outline", cursive;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#startButton:hover {
    text-shadow:
        0 0 20px rgba(0, 255, 0, 0.7),
        0 0 40px rgba(0, 255, 0, 0.4),
        0 0 60px rgba(0, 255, 0, 0.2);
    transform: scale(1.05);
}

.game-container {
    width: 400px;
    height: 800px;
    transform: translateY(-15%);
    opacity: 0;
    visibility: hidden;
}

.game-container.visible {
    opacity: 1;
    visibility: visible;
}

.score-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00ff00;
    font-size: 1.7vw;
}
#score-value {
    font-family: "Bungee Shade", cursive;
    text-shadow: 0 0 5px #00ff00;
    transition: opacity 0.5s ease-in-out 0.3s, visibility 0.5s ease-in-out 0.3s;
}

#score-text {
    font-size: 1.7vw;
    font-family: "Bungee Outline";
    transform: translateY(5px);
    opacity: 0.5;
}

.visible #score-value {
    opacity: 1;
    visibility: visible;
}

#gameCanvas {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.grid-square {
    aspect-ratio: 1 / 1;
    background-color: #00ff00;
    box-shadow: inset 0 0 0 1px #333;
    opacity: 0.1;
    transition: opacity 0.2s ease-in;
    
}

.grid-square:hover {
    box-shadow: inset 0 0 0 1px #333, 0 0 10px rgba(0, 255, 0, 0.5);
    text-shadow: 0 0 5px #00ff00;
}

h6 {
    position: fixed;
    bottom: 20px;
    align-self: auto;
    color: #00ff00;
    font-family: "Bungee Outline", cursive;
    font-size: 1vw;
    text-align: center;
    opacity: 50%;
}

h6 a {
    color: #00ff00;
    text-decoration: none;
}

h6 a:hover {
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.7);
} 